/*
 *  Styles, it is modularized
 */
.home-container {
  margin: 30px 0;
  padding: 20px 15px; }
  .home-container .btn-more-info {
    color: brown;
    text-transform: initial; }

.intro-container {
  padding: 10px .75rem !important;
  background-color: #d9d9d9;
  border-radius: 3px;
  height: 215px;
  width: 100% !important;
  position: relative !important;
  text-align: center; }

.hide-on-large-only.intro-container {
  height: 195px !important; }

.info-pub h5 {
  font-size: 1.2em;
  color: black; }

.info-pub p {
  font-size: 15px;
  font-family: 'Reem Kufi';
  white-space: normal !important;
  text-align: center !important; }

.comments-container {
  background-color: #d9d9d9;
  border-radius: 3px;
  height: 400px;
  width: 100% !important;
  position: relative !important;
  overflow-x: hidden; }
  .comments-container .txt-for-fb {
    margin: 10px 10px;
    font-size: 12px;
    font-family: 'Reem Kufi';
    color: #737373;
    text-shadow: 0px 0.6px rgba(0, 0, 0, 0.72); }

.home-divider {
  margin: 50px 0;
  background-color: black; }

.box-image {
  transition: all 1s cubic-bezier(0.55, 0.35, 0, 0.69); }
  .box-image img {
    min-width: 350px;
    width: 100%;
    margin-bottom: 20px; }

.main-image {
  opacity: 1 !important; }

.moveLeft {
  transform: translateX(-110%);
  opacity: 0; }

.moveRight {
  transform: translateX(110%);
  opacity: 0; }

/*
 *  MODAL STYLES
 */
.modal-content .btn-flat.blue {
  margin: 0 auto;
  overflow: visible; }
  .modal-content .btn-flat.blue span {
    position: relative;
    color: black;
    right: 15px;
    bottom: 8px; }

.folder-container {
  padding: 20px 15px; }

#modal_help p {
  margin: 20px 10px;
  font-size: 20px;
  padding-bottom: 20px;
  font-family: 'Reem Kufi'; }

.editit {
  top: 48px !important; }

.editit span,
.seeit span {
  color: black;
  font-size: 12px;
  margin-right: 10px; }

.editit i,
.seeit i {
  font-size: 20px;
  color: #C02727; }

.paper-content {
  padding: 20px 15px; }
  .paper-content p {
    margin: 20px 10px;
    font-size: 18px;
    padding-bottom: 20px;
    font-family: 'Reem Kufi'; }

.edit-btn {
  background-color: #C02727;
  height: 25px;
  line-height: 25px;
  text-transform: initial;
  font-weight: bolder;
  margin-bottom: 12px; }

.edit-btn:hover {
  background-color: red; }

.paper-content form p {
  text-align: center;
  font-family: sans-serif;
  font-size: 14px; }

.quit {
  transform: translateX(-1000px);
  opacity: 0; }

.img-final,
.img-secon,
.img-main {
  transition: all .8s ease-in;
  opacity: 1; }
  .img-final img,
  .img-secon img,
  .img-main img {
    height: 100px;
    margin: 0 auto; }
  .img-final span,
  .img-secon span,
  .img-main span {
    position: relative;
    left: 22px;
    font-size: 11px; }

/*
 *  Styles, it is modularized
 */
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #039be5;
  box-shadow: 0 1px 0 0 #161C2E; }

.tabs .tab a {
  color: #C02727; }

.tabs .tab a.active {
  color: red; }

.tabs .indicator {
  background-color: #C02727; }

.input-field label.active {
  color: #039be5 !important; }

body {
  background-color: #FFF5F5;
  overflow-x: hidden;
  transition: all 1s ease; }

#header-container {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 50; }

#main-container {
  width: 90%;
  margin: 0 auto;
  min-width: 400px;
  max-width: 800px;
  margin-top: 64px; }

.nav-wrapper {
  background-color: #161C2E; }

.btn-floating.btn-flat i {
  height: 40px !important;
  line-height: 40px !important; }

.btn-floating.btn-flat .hello-world {
  position: absolute;
  left: 0px; }

.margin-12-12 {
  margin: 12px 12px !important; }

.profile-img:hover {
  background-color: transparent; }

.profile-img {
  height: 64px;
  padding: 6px 18px; }
  .profile-img img {
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0, 0.1, 0, 1.82); }
  .profile-img img:hover {
    box-shadow: 0px 0px 0px 2px #039be5; }

form {
  background-color: #fff;
  padding-top: 15px;
  padding: 0 30px;
  margin: 15px auto; }

p {
  white-space: pre-wrap;
  text-align: justify; }

.box-comments {
  background-color: #d9d9d9;
  border-radius: 3px; }

.breadcrumb-box {
  height: 24px !important;
  line-height: 24px !important;
  background-color: transparent;
  border-radius: 3px; }
  .breadcrumb-box .nav-wrapper {
    padding: 0 8px;
    border-radius: inherit; }
    .breadcrumb-box .nav-wrapper .breadcrumb-ref {
      font-size: 10px; }
      .breadcrumb-box .nav-wrapper .breadcrumb-ref i {
        display: inline;
        font-size: 12px;
        line-height: 0;
        margin: 0 5px; }

.dropdown-content.ready {
  transition: all .5s ease;
  transform: translateX(150px);
  width: 129px;
  position: absolute;
  top: 65px;
  right: 0px;
  opacity: 1;
  display: block; }
  .dropdown-content.ready li a {
    color: #161C2E; }

.dropdown-content.select-dropdown li span {
  color: #161C2E; }

.dropdown-content.select-dropdown li.disabled span {
  color: gray; }
