// For --> '/user/folder' (Home page)

$intoBoxes: rgb(217, 217, 217);
$blueDark: #161C2E;
$redDark: #C02727;

.paper-content {

  form p {
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
  }
}

.quit {
  transform: translateX(-1000px);
  opacity: 0;
}

.img-final,
.img-secon,
.img-main {
  transition: all .8s ease-in;
  opacity: 1;

  img {
    height: 100px;
    margin: 0 auto;
  }
  span {
    position: relative;
    left: 22px;
    font-size: 11px;
  }
}

.img-secon {}

.img-final {}
