// For --> '/user/folder' (Home page)

$intoBoxes: rgb(217, 217, 217);
$blueDark: #161C2E;
$redDark: #C02727;

  .paper-content {

  form p {
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
  }
}

.img-final,
.img-secon,
.img-main {
  height: 100px;
  background-color: green;
  border: 2px solid blue;
}

.img-secon {}

.img-final {}
