// For --> '/user/folder' (Home page)

$intoBoxes: rgb(217, 217, 217);
$blueDark: #161C2E;
$redDark: #C02727;

.folder-container {
  padding: 20px 15px;
}

#modal_help {

  p {
    margin: 20px 10px;
    font-size: 20px;
    padding-bottom: 20px;
    font-family: 'Reem Kufi';
  }
}

.editit { top: 48px !important; }

.editit,
.seeit {
  span {
    color: black;
    font-size: 12px;
    margin-right: 10px;
  }

  i {
    font-size: 20px;
    color: $redDark;
  }
}
