/*
 *  Styles, it is modularized
 */

@import "./home";
@import "./modals";
@import "./folder";
@import "./paper";
@import "./edit-paper";
@import "./materialize";

$grayBox: rgb(217, 217, 217);
$blueDark: #161C2E;
$redDark: #C02727;
$blue: #039be5;

body {
  background-color: #FFF5F5;
  overflow-x: hidden;
  transition: all 1s ease;
  height: 100%;
}

.btn-up {
  transition: all .5s ease;
  position: fixed;
  bottom: 30px;
  right: 15px;
  background-color: $blueDark;
  color: white;
  width: 50px;
  padding: 0;

  i {
    font-size: 2.3rem;
  }
}

.btn-up:hover {
  background-color: $blueDark;

  i {
    font-size: 2.5rem;
  }
}

#header-container {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 50;

  nav {
    height: 50px;

    .nav-wrapper {
      .brand-logo {
        margin: 5px 10px !important;
      }

      ul {
        line-height: 50px;
        height: 50px;
      }
    }
  }
}

#main-container {
  width: 90%;
  margin: 0 auto;
  min-width: 400px;
  max-width: 800px;
  margin-top: 64px;
}

.nav-wrapper {

  background-color: $blueDark;
}

.btn-floating.btn-flat {

  i {
    height: 40px !important;
    line-height: 40px !important;
  }

  .hello-world {
    position: absolute;
    left: 0px;
  }
}

.margin-12-12 {
  margin: 12px 12px !important;
}

.profile-img:hover {
  background-color: transparent;
}

.profile-img {
  height: 50px;
  padding: 5px 16px;

  img {
    width: 40px;
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0, 0.1, 0, 1.82);
  }

  img:hover {
    box-shadow: 0px 0px 0px 2px $blue;
  }
}

form {
  background-color: #fff;
  padding-top: 15px;
  padding: 0 30px;
  margin: 15px auto;
}

p {
  white-space: pre-wrap;
  text-align: justify;
}

.box-comments {
  background-color: $grayBox;
  border-radius: 3px;
}

.breadcrumb-box {
  height: 24px !important;
  line-height: 24px !important;
  background-color: transparent;
  border-radius: 3px;

  .nav-wrapper {
    padding: 0 8px;
    border-radius: inherit;

    .breadcrumb-ref {
      font-size: 10px;

      i {
        display: inline;
        font-size: 12px;
        line-height: 0;
        margin: 0 5px;
      }
    }
  }
}

.dropdown-content.ready {
  transition: all .3s ease;
  transform: translateX(150px);
  width: 132px;
  height: 101px !important;
  position: absolute;
  top: 50px;
  right: 2px;
  opacity: 1;
  display: block;

  li {

    a {
      color: $blueDark;
      font-size: 15px;
    }
  }
}

.dropdown-content.info-dev.show {
  transform: translateX(0px) !important;
}

.dropdown-content.info-dev {
  transition: all .3s ease;
  transform: translateX(-300px);
  overflow: hidden;
  height: 101px !important;
  position: absolute;
  top: 50px;
  left: 2px;
  opacity: 1;
  display: block;

  li {

    .content {
      width: 240px;
      height: 101px;
      padding: 10px;

      span {
        display: block;
        margin: 5px 30px;
      }

      .author {
        font-size: 13px;
      }

      .i0 { transform: translate(9px, -61px) rotate(19deg); color: yellow; }
      .i1 { transform: translate(161px, -86px) rotate(40deg); color: green; }
      .i2 { transform: translate(133px, -42px) rotate(5deg); color: green; }
      .i3 { transform: translate(199px, -6px) rotate(-25deg); }
      .i4 { transform: translate(84px, -94px) rotate(-57deg); color: blue; }

      
    }
  }
}

.icon-out,
.icon-in {
  height: 20px !important;
  line-height: 20px !important;
  display: initial;
  color: red;
  position: absolute;

}

.icon-in {
  transition: all .6s cubic-bezier(0.69, -1.06, 0.36, 0.94);
}

.icon-out {
  transition: all 1.3s cubic-bezier(0.69, -1.06, 0.36, 0.94);
  font-size: 3em;
}

.j0 { transform: translate(30px, 130px) rotate(-21deg); }
.j1 { transform: translate(203px, 170px) rotate(7deg); color: blue; }
.j2 { transform: translate(107px, 10px) rotate(-9deg); color: white; }
.j3 { transform: translate(254px, 65px) rotate(-10deg); }

.prepare {
  transform: translate(-300px, 30px) rotate(0deg) !important;
}


.dropdown-content.select-dropdown {

  li {
    span {
      color: $blueDark;
    }
  }

  li.disabled {
    span {
      color: gray;
    }
  }
}
