/*
 *  Styles, it is modularized
 */

@import "./home";
@import "./modals";
@import "./folder";


body {
  background-color: #FFF5F5;
  overflow-x: hidden;
  transition: all 1s ease;
}

#header-container {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 50;
}

#main-container {
  width: 90%;
  margin: 0 auto;
  min-width: 400px;
  max-width: 800px;
  margin-top: 64px;
}

.nav-wrapper {

  background-color: #161C2E;
}

.btn-floating.btn-flat {

  i {
    height: 40px !important;
    line-height: 40px !important;
  }

  .hello-world {
    position: absolute;
    left: 0px;
  }
}

.margin-12-12 {
  margin: 12px 12px !important;
}

.profile-img {
  height: 64px;
  padding: 6px 18px;

  img {
    border-radius: 50%;
  }
}

form {
  background-color: #fff;
  padding-top: 15px;
  padding: 0 30px;
  margin: 15px auto;
}
