/*
 *  MODAL STYLES
 */


.modal-content {


  .btn-flat.blue {
    margin: 0 auto;
    overflow: visible;

    span {
      position: relative;
      color: black;
      right: 15px;
      bottom: 8px;
    }
  }
}
